@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded&family=Open+Sans:wght@400;700&family=Rye&display=swap');

:root {
    --color-yellow-400: #FFD046;
    --color-light-400: #fff;
    --color-dark-600: #210F04;
    --color-dark-500: #4b2209;
    --color-dark-400: #75350e;
    --border-radius-normal: 10px;
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

/* DEFAULT ELEMENTS */
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100vw;
    background: var(--color-yellow-400);
}

html,
body,
input {
    color: var(--color-dark-600);
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 4em;
    font-family: 'Rye', cursive;
}

a {
    text-decoration: none;
    color: inherit;
}


/* CUSTOM ELEMENTS */
.btn {
    padding: 1em;
    border: none;
    border-radius: var(--border-radius-normal);
    background-color: var(--color-dark-600);
    color: var(--color-light-400);
    font-size: 1.25em;
}

.btn:hover {
    background-color: var(--color-dark-500);
}

.btn:active {
    background-color: var(--color-dark-400);
}

.header {
    text-align: center;
    padding: 5em;
}

.toast {
    position: absolute;
    width: 100%;
    padding: 1em 0;
    background-color: var(--color-dark-600);
    color: var(--color-light-400);
    text-align: center;
    transition: transform .5s ease;
    transform: translateY(-100%);
}


@media screen and (max-width: 600px) {
    .header {
        padding: 2em;
        font-size: .75em;
    }

}
/* ANIMATIONS */

.spin {
    animation: spin 1s ease infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}