.create-container {
    display: flex;
    width: 70%;
    margin: 0 auto;

    flex-direction: column;
}

.create-container>form {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.create-container input {
    padding: .5em;
    font-size: 1.5em;
    border: none;
    border-radius: var(--border-radius-normal) 0 0 var(--border-radius-normal);
    transition: .1s ease;
}

.create-container input:focus {
    outline: none;
    border-bottom: 3px solid var(--color-dark-600);
}


.create-container button {
    border-radius: 0 var(--border-radius-normal) var(--border-radius-normal) 0;
}

.create-container button:hover {
    background-color: var(--color-dark-500);
}

.create-container button:active {
    background-color: var(--color-dark-400);
}

@media screen and (max-width: 600px) {
    .create-container {
        width: unset;
        margin: 0 2em;
    }

    .create-container>form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1em;
    }

    .create-container input,
    .create-container button {
        border-radius: var(--border-radius-normal);
    }
}